$module: '.index';

#{$module} {
  $boxsize: 160;

  .shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;

    &__box {
      align-self: center;
      width: #{$boxsize}px;
      height: #{$boxsize}px;
      background-color: white;
      position: relative;
      border-radius: 100%;
      background-color: #f7eec5;
    }
  }

  .countdown {
    position: absolute;
    top: 30px;
    width: 100%;
    left: 0;
    text-align: center;
    text-shadow: #444 1px 1px 6px;

    &__type,
    &__in {
      color: white;
      margin: 0;
      padding: 0;
    }
  }

  .compass {
    position: absolute;
    bottom: 70px;
    right: 20px;
    line-height: 1;
    width: 40px;
    height: 40px;
    text-shadow: #aaa 1px 0px 1px;

    &:before {
      color: white;
      font-size: 40px;
      transform-origin: center;
      transform: rotate(45deg);
      display: block;
    }
  }

  // overides for the light version
  &--dark {
    .shadow__box {
      background-color: darken(white, 10%);
    }
  }
}
