@import '../vars/colors';

.navigation {
  .tabs {
    background-color: rgba(white, 0.4);
    border-image: none;
    background-image: none;
    border-color: white;
    color: rgba(black, 0.6);
  }
}

// android nav border
.tabs-striped .tab-item.activated,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.tab-item-active {
  border-color: white;
}

// Custom styles for the tab icons
.tab-item {
  color: black;
  opacity: 0.7;
}

.tab-item.activated,
.tab-item.active,
.tab-item.tab-item-active {
  opacity: 1;
}

// prevent the fucking flicker on IOS
.tabs .tab-item i:nth-of-type(2) {
  display: none;
}
